body {

    background-color: white; 
    color: yellowgreen;
    font-size: 40px; 
    text-align: center; 
    text-shadow: 1px 1px 1px black;
} 

h1 {
     color: black;
     font-size:60px;
} 
p {
    color:slategrey;
    font-size: 25px;

}